input[type=range] {
    width: 180px;
}

/* select, input[type="number"] {
    width: auto;
    height: 30px;
} */

/* label {
    display: block;
} */

.square-left {
    width: 130px;
    float: left;
}

.square-right {
    width: 130px;
    float: right;
}

/* #wrapper p {
    margin-top: 25px;
} */